<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lecturers</title>
</head>
<body>
	<h1>Lecturers</h1>
	<button onclick="location.href = '/addLecturer'">Add Lecturer</button>
	<table>
		<tr>
			<th>Lecturer ID</th>
			<th>Name</th>
			<th>Dept</th>
		</tr>
		<% lecturers.forEach((lecturer) => { %>
			<tr>
				<td><%= lecturer._id %></td>
				<td><%= lecturer.name %></td>
				<td><%= lecturer.dept %></td>
			</tr>
		<% }) %>
	</table>
	<a href="/">Home</a>
</body>
</html>