<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Students</title>
</head>
<body>
	<h1>Students studying <%= mid %></h1>
	<a href="/listModules"><- Back to Modules</a><br/>
	<table>
		<tr>
			<th>Student ID</th>
			<th>Name</th>
			<th>GPA</th>
		</tr>
		<% students.forEach((student) => { %>
			<tr>
				<td><%= student.sid %></td>
				<td><%= student.name %></td>
				<td><%= student.gpa %></td>
			</tr>
		<% }) %>
	</table>

</body>
</html>